<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs:</div>
  <div> <%= flight.departs.toLocaleString()%></div>
 
</section>

<br><br><h2> Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destination">
  <label> Airport: </label>
    <select name="airport">
      <option value="DEN">DEN</option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="SAN">SAN</option>
    </select>
  <br>
  <label>Arrival:</label>
    <input type="datetime-local"  name="arrival">
  <br>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destination.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destination.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<% } else { %> 
<h5>No Destination Yet</h5>
<% } %>  

<%- include('../partials/footer') %>